.page {
    width: 80%;
    margin: 0 auto;    
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}


.container {
    display: flex;
    flex-direction: row;
    background-color: #f2a536;
    justify-content: space-between;
   
}

.logo {
    margin: 10px;
}

#menu {
    
margin: 0px;  
flex-direction: row;
justify-content: space-between;


}

.parent {
    height: 400px;
    width: 100vw;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    
}

#hero{
    height: 400px;
    width: 79%;
    object-fit: cover;
    padding:5px;
    
    
}

.whitebox {
    position: absolute;
    background-color: white;
    z-index: 2; 
    padding: 10px;
    top: 350px;
    left: 350px;
}

#one {
    height: 200px;
    width:250px;
   
    
}

#two {
    height: 150px;

}

#img-border {
    height: 150px;
    border: 5px solid #dadfea;
    padding: 0px;
}

#pop-statement {
    background-color: white;
    font-weight: 800;
}

.description {
    background-color: white;
    padding: 5px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 15px;

}

.img-container {
    display: flex;
    flex-direction: row;
}

.check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    

}

.gray {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 40%;
    width: 100%;
    background-color: #dadfea;

}

.graysub {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px

   
}



.footer {
    display: flex;
    background-color: #f2a536;
    object-position: right;
    justify-content: right;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
   
}

#burger {
    height: 970px;
    width: 100vw;
}

.uniform {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
