.page {
    width: 80%;
    margin: 0 auto;    
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}


.container {
    display: flex;
    flex-direction: row;
    background-color: #f2a536;
    justify-content: space-between;
    
   
}

.logo {
    margin: 10px;
}

.navbar {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.menu li {
    text-decoration: none;
    padding: 10px;
    padding: 10px 20px;
}


.parent {
    background-image: url(/images/bengal-burger.jpg);
    width: 100%; /* Set width of the div */
    height: 300px; /* Set height of the div */
    background-size: cover; /* Cover the entire background with the image */
    background-position: center; 
}

#hero{
    height: 400px;
    width: 79%;
    object-fit: cover;
    padding:5px;
}

.whitebox {
    position: absolute;
    background-color: white;
    z-index: 2; 
    padding: 15px;
  left: 500px;
  top: 280px;
}

#one {
    height: 200px;
    width:250px;
}

#two {
    height: 150px;

}

#img-border {
    height: 150px;
    border: 5px solid #dadfea;
    padding: 0px;
}

#pop-statement {
    background-color: white;
    font-weight: 800;
}

.description {
    background-color: white;
    padding: 5px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 15px;

}

.img-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}

.gray {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 40%;
    width: 100%;
    background-color: #dadfea;
    padding: 10px;

}

.graysub {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 15px
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2a536;
    padding: 20px;
}

#burger {
    height: 970px;
    width: 100vw;
}

.uniform {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#burger{
    height: 400px;
    width: 79%;
    object-fit: cover;
    padding:5px;
}

.top {
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    width: 65%;
    background-color: #dadfea;
    padding: 30px;
    
}

.recipe{
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.row {
    background-color: #dadfea;
}

.review {
    align-items: center;
    justify-content: center;
}

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .time {
    
    background-color:#dadfea;
    margin: 0 auto; 
    
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; 
 
}

th, td {
    padding: 8px;
    text-align: left;
}


  
  

